@charset "utf-8";
/* CSS Document */
/*#mid_a{font-size:15px;color:#5F5F5F;}
*/
body{margin:0px;padding:0px;}
#mid_div {
	width:100%;
	height:470px;
	background:#CCC;
}
#mid_div1 {
	width:1200px;
	height:470px;
	margin:0px auto;
	background:#666;
}
/*#mid_div11 {
	width:1200px;
	height:465px;
	margin-top:20px;
}
#mid_div2, #mid_div21 {
	margin-bottom:5px;
	margin-top:6px;
}
#mid_div3 {
	margin-left:-20px;
	float:left;
}
#mid_div31 {
}*/
#mid_div4{width:1200px;height:50px;background:#09F;display:inline-block;}
/*#mid_div4 span, #mid_div41 span {
	font-size:16px;
	margin-left:5%;
	
}
#mid_div4_sp1,#mid_div41_sp1 {
	color:gray;
	border-bottom:solid #F00 3px;}

/*
#mid_div5, #mid_div51 {
	/*margin-left:230px;*/
	/*margin-top:15px;
	float:left;
}
#mid_div5_t1,#mid_div5_t2,#mid_div5_t3{
	margin-top:-400px;
	margin-left:-2px;
	float:left;


}
#mid_div51_t1 {
	margin-top:-400px;
}
#mid_div5_t1,#mid_div5_t2, #mid_div5_t3, #mid_div51_t2, #mid_div51_t3 {
/*	margin-top:-400px;
	display:none;
	margin-left:2px;
}
#mid_div_k, #mid_div_k_1 {
	margin-left:3px;
	width:700px;
	height:400px;
}
#mid_div_k1, #mid_div_k2, #mid_div_k3, #mid_div_k4, #mid_div_k5, #mid_div_k6, #mid_div_k11, #mid_div_k21, #mid_div_k31, #mid_div_k41, #mid_div_k51, #mid_div_k61 {
	width:230px;
	height:198px;
}
#mid_div_k2, #mid_div_k5, #mid_div_k21, #mid_div_k51 {
	margin-left:233px;
	margin-top:-196px;
}
#mid_div_k3, #mid_div_k6, #mid_div_k31, #mid_div_k61 {
	margin-left:466px;
	margin-top:-198px;
}
#mid_div_R, #mid_div_R_1 {
	/*margin-left:970px;*/
	/*margin-top:-395px;*/
/*	border:1px #00F solid;
width:226px;
	height:400px;
	background-repeat:no-repeat;
	float:left;
}
#mid_div_R1{display:inline-block;}
#mid_div_R1 dt, #mid_div_R11 dt,#mid_div_R2 dt, #mid_div_R3 dt, #mid_div_R21 dt, #mid_div_R31 dt {
	background-repeat:no-repeat;
	margin-left:10px;
	margin-top:10px;
	text-indent:1.5em;
	font-size:14px;
}
#mid_div_R1, #mid_div_R11 {
	/*margin-top:40px;
}
#mid_div_R1 dd, #mid_div_R2 dd, #mid_div_R3 dd, #mid_div_R11 dd, #mid_div_R21 dd, #mid_div_R31 dd {
	display:none;
}
#mid_div_R2, #mid_div_R3,#mid_div_R21, #mid_div_R31 {
/*	margin-top:40px;
	display:none;
}
#mid_div1 a, #mid_div11 a {
	text-decoration:none;
	color:#000;
}
#mid_div1 a:hover, #mid_div11 a:hover {
	text-decoration:none;
	color:#F63;
}
#mid_tr a {
	color:#3C0;
	font-weight:bold;
}
#mid_div4 a:hover, #mid_div41 a:hover {
	border-bottom:solid #F00 3px;
}
#mid_R1_dl1{display:inline-block;}
#mid_div_R{display:inline-block;float:left;}*/